.modal {
  position: absolute;
  width: 70%;
  align-self: flex-start;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_btns {
  display: flex;
  justify-content: flex-end;
  /* padding-top: 0.8rem;
  border-top: 1px solid #e3e6f0; */
}

.grid {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.grid_plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.grid_actions {
  display: flex;
  gap: 1rem;
}

.grid_plan_day {
  width: 100%;
}

.row {
  width: 100%;
}

.grid_header {
  display: flex;
  padding: 1rem;
  background-color: #eff1f5;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #e3e6f0;
}

.grid_title {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(78, 115, 223);
}

.grid_foods {
  padding: 1rem;
}

.grid_columns {
  display: flex;
  width: 100%;
  padding-bottom: 0.5rem;
}

.title {
  width: 50%;
}

.num_portions {
  width: 15%;
}

.type {
  width: 20%;
}

.btn {
  width: 10%;
}

.grid_days {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #e3e6f0;
}

.title_div {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 1rem;
}

.receita_img_div {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.receita_img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

.receita_title {
  color: #2d2d2f;
  font-size: 0.875em;
  font-weight: 600;
}

.portion_text {
  color: #858796;
  font-size: 0.875em;
}

.type_text {
  color: #2d2d2f;
  font-size: 0.875em;
}

.btn_edit,
.btn_remove {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;

  border-style: none;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10rem;

  padding: 0.2rem 1rem;

  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
