.btn_action {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;

  border-style: none;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;

  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn_close,
.btn_submit {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;

  /* border-style: none; */
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10rem;

  padding: 0.5rem 2rem;

  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn_primary {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;

  border-style: none;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;

  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn_action,
.btn_submit {
  &:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
  }
}

.btn_close {
  background-color: #dc3545;
  border-color: #dc3545;
  border-style: none;
}
