.input {
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 10rem;
  color: rgb(58, 59, 69);

  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 1rem;

  border: 1px solid rgb(58, 59, 69);
  border-radius: 10rem;
  border-color: #d3d5dd;

  background-color: #fff;
  background-clip: padding-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
